*{
  box-sizing: border-box;  
}
body{  
  background-color:#f6f4f0;
  font-family: Libre Baskerville;
  display: block;

}
header{  
  background-image: url(../img/astro-main-bg.jpg);
  background-image: url(../img/astro-pattern-bg.png);
  height: 100%;
  width: 100%;
}


























/* ============================= */

